{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1>About Us</h1>
    <h2>Our Mission</h2>
    <p> When you donate to Goodwill, your unwanted items are sold in our retail stores and online. With the money raised from these sales, Goodwill can help people overcome barriers to self-sufficiency, through the Power of Work.  You donate and shop, and Goodwill provides job training programs and employment placement services to people with disabilities, those who lack education or job experience, and others facing challenges to finding employment.  Goodwill provides a hand up, not a hand out to thousands of local residents every year. Ninety cents of every dollar raised by Goodwill goes to support our mission of service to the community. </p>
</div>
{% endblock %}

