{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
        <h1>About Us</h1>
     </div>

<div class="container">
    <h2>Our Mission</h2>
    <p> When you donate to Goodwill, your unwanted items are sold in our retail stores and online. With the money raised from these sales, Goodwill can help people overcome barriers to self-sufficiency, through the Power of Work.  You donate and shop, and Goodwill provides job training programs and employment placement services to people with disabilities, those who lack education or job experience, and others facing challenges to finding employment.  Goodwill provides a hand up, not a hand out to thousands of local residents every year. Ninety cents of every dollar raised by Goodwill goes to support our mission of service to the community. </p>
</div>

 <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Corporate Headquarters</h2>
            <p>The Goodwill Center</p>
             <p>300 East Lea Boulevard</p>
              <p>Wilmington, DE 19802</p>
              <p>(302) 761-4640 (phone)</p>
              <p>(866) 317-2299 (toll-free)</p>
          </div>
          <div class="col-md-4">
              <h2>Kent County Office</h2>
            <p>1678 South Governors Avenue</p>
             <p>Dover, DE 19904</p>
            <p>Career Services – (302) 741-0456</p>
             <p>Industrial Services – (302) 741-2083</p>
              <p>Staffing Services</p>
          </div>
        </div><!-- /container -->  
     
      <div class="row">
     <div class="container">
        <div class= "row">
          <div class="col-md-4">
            <h2>New Castle</h2>
            <p>The Goodwill Recycling Center</p>
            <p>400 Centerpoint Blvd</p>
            <p>(302)322-4716</p>
            <p>(Outlet, Donations)</p>
         </div>
           <div class="col-md-4">
            <h2>Sussex County Office</h2>
            <p>18178 Sussex Highway</p>
            <p>Bridgeville, DE 19933</p>
            <p>(302)337-8561</p>
            <p>(Donations, Job Resource Center, Staffing Services)</p>
         </div>
      </div> <!-- /container -->
          </div>
<!-- do we need?       <hr>-->


{% endblock %}

