{% extends 'layout.html' %}

{% block body %}
<button class="collapsible">Items Donated</button>
	
<div class="content">
<label for="elect">Electronics</label>
 	<input type="number" id="elect" name="elect" placeholder="0" >
	<br>
	<label for="veh">Vehicles</label>
 	<input type="number" id="veh" name="veh" placeholder="0">
	<br>
	<label for="books">Books</label>
 	<input type="number" id="books" name="books" placeholder="0" >
	<br>
	<label for="cloth">Clothing/Accessories</label>
 	<input type="number" id="cloth" name="cloth" placeholder="0">
	<br>
	<label for="Kitchen">Kitchen/Cookware</label>
 	<input type="number" id="Kitchen" name="Kitchen" placeholder="0" >
	<br>
	<label for="furnish">Furniture</label>
 	<input type="number" id="furnish" name="furnish" placeholder="0">
	<br>
	<label for="CD">CDs/DVDs/Video Games</label>
 	<input type="number" id="CD" name="CD" placeholder="0" >
	<br>
	<label for="SP">Sporting Goods</label>
 	<input type="number" id="SP" name="SP" placeholder="0">
	<br>
	<label for="toys">Toys</label>
 	<input type="number" id="toys" name="toys" placeholder="0" >
	<br>
	<label for="food">Non-perishable Food</label>
 	<input type="number" id="food" name="food" placeholder="0">
	<br>
	<label for="Med">Medical Equiptment(Walkers, Canes, and Shower Seats)</label>
 	<input type="number" id="med" name="med" placeholder="0" >
	<br>
	


</div>

{% endblock %}