<!--Author: Lela Bones
    This document conatins the homepage contents-->
{% extends 'layout.html' %}


{% block body %}
 <div class="jumbotron text-center">
     <h1>Welcome to the </h1>
     <h1>Goodwill App</h1>
        <p class="lead">Here you will be able to log in and track your donations and purchases at Goodwill. You also will earn reward points for the items you donate and buy.</p>
	 <h2><a href="/about"><span class="label label-default">About</span></a></h2>	
	 <h2><a href="/impact"><span class="label label-default">Impact</span></a></h2>
	 <h2><a href="/donations"><span class="label label-default">Donate</span></a></h2>
	 <h2><a href="/purchases"><span class="label label-default">Purchases</span></a></h2>
	 <h2><a href="/rewards"><span class="label label-default">Rewards</span></a></h2>
         <h2><a href="/sign_in"><span class="label label-default">Sign In</span></a></h2>
 </div>

{% endblock %}
