{% extends 'layout.html' %}


{% block body %}
 <div class="jumbotron text-center">
     <h1>Welcome to the </h1>
     <h1>Goodwill DE & DE County App</h1>
        <p class="lead">Here you will be able to log in and track your donations and purchases at Goodwill. You also will earn reward points for the items you donate and buy.</p>
	<h2><a href="/sign_in"><span class="label label-default">Sign In</span></a></h2>
	
 </div>


<!-- <div>
	<h2> Mission </h2>
	<p> To improve the quality of life for people with barriers to self-sufficiency through the Power of Work.</p>
 </div> 


 <div>
	<h2> Donor Highlights </h2>
	<p> This section will highlight a donor recognized by all the organizations in order to bolster a sense of community</p>
 </div> 
  -->
<!--  <div>
	<h2>Donation Items Currently Needed: </h2>
	<ul>
		<li> Socks </li>
		<li> Shoes </li>
		<li> Men's Pants</li>
		<li> Non-Perishable Food Items</li>
	</ul>
 </div> -->

 <div>
	<h2> Featured Impact </h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/nvXJZdtIKnY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
 <div>
	<h2> Ranking Board </h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>amet</td>
                  <td>consectetur</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Integer</td>
                  <td>nec</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>libero</td>
                  <td>Sed</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Nulla</td>
                  <td>quis</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>nibh</td>
                  <td>elementum</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Fusce</td>
                  <td>nec</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>augue</td>
                  <td>semper</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                </tr>
              </tbody>
            </table>
          </div>
      
{% endblock %}