{% extends 'layout.html' %}
{% block body %}
 <div class="jumbotron text-center">
     <h1>You Make an Impact </h1>
     
	<div style="border: 2.5px solid black;">
</div>

      </div>
<p class="lead" style="test-align: center;">This year, your donations have helped over 200,000 people get back to work!</p>

<iframe width="250" height="250" src="https://www.youtube.com/embed/_XR-mlcQZMU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/ldETe_9FfVA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/1xjRG1NQwUY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/nvXJZdtIKnY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/HpbxPFBpDLo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/ldETe_9FfVA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/0M5Dr7fb_ac" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="250" height="250" src="https://www.youtube.com/embed/d_N2rdlv0qA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


{% endblock %}
