<!--Author: Tony Cicero
    This document conatins the homepage contents-->
{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-center">
     <h1>You Make an Impact </h1>
     
	<div style="Background-color: cyan;border: 5px solid black;">
        <p class="lead">This year, your donations have helped over 200,000 people get back to work!</p>

</div>

<br>


<iframe width="560" height="315" src="https://www.youtube.com/embed/i1vP_GSK7aQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

         <h2><a href="/sign_in"><span class="label label-default">Sign In</span></a></h2>
 </div>

{% endblock %}
