{% extends 'layout.html' %}
<head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            {{sndmap.js}}
    </head>
{% block body %} 
    <h1>Delware Goodwill Locations</h1>

        {% with map=googlemap_obj("another-map", 39.60655499999999, -75.71021300000001, markers=[(39.60655499999999, -75.71021300000001), (38.7364091, -75.5936), (39.8516208,-75.53792)]) %}
            {{map.html}}
            {{map.js}}
        {% endwith %}

<h1> </h1>

<img src="{{url_for('static', filename='Bear.png')}}"/>
<h3>334 Fox Hunt Dr</h3>
<h3>Bear, DE 19701</h3>
<h3>United States (US)</h3>
<h3>Phone: (302) 834-6780</h3>

<img src="{{url_for('static', filename='Bridgeville.png')}}"/>
<h3>18178 Sussex Highway</h3>
<h3>Bridgeville, 19933</h3>
<h3>United States (US)</h3>
<h3>Phone: (302) 337-8561</h3>

<img src="{{url_for('static', filename='Chadds Ford.png')}}"/>
<h3>255 Wilmington West Chester Pike</h3>
<h3>Chadds Ford, 19317</h3>
<h3>United States (US)</h3>
<h3>Phone: (610) 558-3722</h3>
<h1></h1>
    
<h2>For more locations click <a href= "https://www.goodwillde.org/goodwill-locations">here</a></h2>

{% endblock %}