<!--Author: Tony Cicero
    This document conatins the homepage contents-->
{% extends 'layout.html' %}

{% block body %}

<h1 style ="background-color:lightgray;">Login</h1>
<form action="/action_page.php">

    <label for="email">Email Address*</label>
    <input type="email" id="email" name="emailaddr" placeholder="Your Email Address.." required>
<br>

    <label for="Pass">Password</label>
<br>
    <input type="password" id="pass" name="Phone" placeholder="Password" >







<input type="submit">
</form>







<style>

form { 
margin: 0 auto; 
width:250px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
</style>

<!--js script to collapse/expand boxes (NOT USED ANYMORE) -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


{% endblock %}
