{% extends 'layout.html' %}

{% block body %}
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>

<h1>Rewards</h1>
<h2 style="color: Green;"> You have <var id="points">0</var> Points! </h2>

<!-- <div id="parent" style=" display: flex;padding: 10px 10px 10px 10px;"> -->

	<div id="r1" style="width: 200px; height: 200px;border-style: solid;background-color:#2183c8;text-align:center;"> 
	<p style="font-size: 24px;text-align:center; "> 10% Off! </p>

	<p style="font-size: 28px;text-align:center; "> 1000 Points </p>

	<button style="font-size: 28px;"onclick="R1()" type="button">Redeem!</button>

	</div>
	
	

	<div id="r2" style="width: 200px; height: 200px;border-style: solid;background-color:#2183c8;text-align:center;"> 
	<p style="font-size: 24px;text-align:center; "> 20% Off! </p>

	<p style="font-size: 28px;text-align:center; "> 1750 Points </p>

	<button style="font-size: 28px;" onclick="R2()" type="button">Redeem!</button>

	</div>

	<div id="r3" style="width: 200px; height: 200px;border-style: solid;background-color:#2183c8;text-align:center;"> 
	<p style="font-size: 24px;text-align:center; "> Buy One get One FREE! </p>

	<p style="font-size: 28px;text-align:center; "> 2000 Points </p>

	<button style="font-size: 28px;" onclick="R3()" type="button">Redeem!</button>

	</div>

<!-- </div> -->

	<svg id="barcode"></svg>


<script>
	var max = 999999;
	var min = 100000;
	var x = 1500;
 document.getElementById("points").innerHTML = x;
function R1(){
	if (x >=1000){
		x-=1000;
	JsBarcode("#barcode", Math.random() * (max - min) + min);
	}else{
		alert("Sorry! You don't have enough points.");
	}
document.getElementById("points").innerHTML = x;
}
function R2(){
	if (x >=1750){
		x-=1750;
	}else{
		alert("Sorry! You don't have enough points.");
	}
document.getElementById("points").innerHTML = x;
}
function R3(){
	if (x >=2000){
		x-=2000;
	}else{
		alert("Sorry! You don't have enough points.");
	}
document.getElementById("points").innerHTML = x;
}
</script>

{% endblock %}