<!--Author: Tony Cicero
    This document conatins the homepage contents-->
{% extends 'layout.html' %}

{% block body %}

<h1 style ="background-color:lightgray;">Thank You!</h1>

<p> you have earned <var id="points">0</var> points </p>

<script>
//this function will be used in the future to allow for specifying points earned
window.onload = getpoints;
function getpoints() {
    var x = document.getElementById("myVar");
    x = "50";
}
</script>




<style>

form { 
margin: 0 auto; 
width:250px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
</style>

<!--js script to collapse/expand boxes (NOT USED ANYMORE) -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


{% endblock %}
