{% extends 'layout.html' %}

{% block body %}

 <div>
	<h2> Donator list </h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Donated Items</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Tony Cicero</td>
                  <td>tonycicero@tony.com</td>
                  <td>240-444-1414</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Stephenie Warman</td>
                  <td>stephaniewarman@ste.com</td>
                  <td>123-423-8754</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Josiah Cruz</td>
                  <td>josiahcruz@cruz.com</td>
                  <td>123-423-8754</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Lela Bones</td>
                  <td>lelabones@bones.com</td>
                  <td>123-423-8754</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Ikem Okafo</td>
                  <td>ikemokafo@ikem.com</td>
                  <td>222-423-8754</td>
                </tr>
              </tbody>
            </table>
          </div>
      
{% endblock %}