<!--Author: Lela Bones
    This document is a "subfile" that contains the navbar for the layout-->
<nav class="navbar navbar-custom navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" id = "menu-toggle" href="#"> <img src="{{url_for('static', filename='goodwill.png')}}" style="width:140px;" align = "left"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/impact">Impact</a></li>
              <li><a href="/feedback">Feedback</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/help"></a></li>
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
